.macaco{
    background-color: #FDE9DC;
}

.abra{
    color: #6A1B9A;
}

.ao{
    padding: 30px;
    background-color: #C62828;
}

.ee{
    color: white;
}

.lol{
    background-color: #6A1B9A;
}

.pop{
    background-color: #E65100;
    padding: 20px;
}
    